input
{
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.registerButton{
    margin: 50px 0 70px 0;
}
