.App {
  text-align: center;
}


.Tilt-inner{
  background: url("./components/Logo/easyshare.png"), linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%);
  background-size: cover;
}
.App-header {
  height: 150px;
  padding: 20px;
  position: relative;
}
.particles {
  position: fixed;
  top:0;
  right:0;
  bottom: 0;
  left:0;
  z-index: -1;
}
.center{
  display: flex;
  justify-content: center;
}

.App-title {
  font-size: 1.5em;
}

.main-nav{
  list-style: none;
  display: flex;

 }
.App-intro {
  font-size: large;
}

.navbar{
  height: 80px;
  }
.push{
   margin-left: auto;
   }
.container{
  background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%);
}
